{% extends "layouts/base.html" %}

{% block title %} Settings {% endblock title %}

<!-- Specific CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- ### $App Screen Content ### -->
<main class='main-content bgc-grey-100'>
    <div id='mainContent'>
        <div class="row gap-20">
            <!-- App Settings -->
            <div class="masonry-item col-md-6">
                <div class="bgc-white p-20 bd">
                    <h6 class="c-grey-900">App Settings</h6>
                    <div class="mT-30">
                        <form id="appSettingsForm" method="POST" action="/settings/save_settings">
                            <input type="hidden" name="request_type" value="appSettingsForm">
                            <!-- MainDomain -->
                            <div class="mb-3">
                                <label class="form-label" for="inputServerDomain">Server domain name</label>
                                <input type="text" class="form-control" id="inputServerDomain" name="main_domain"
                                    value="{{ settings.MainDomain }}" required>
                            </div>
                            <!-- NginxConfPath -->
                            <div class="mb-3">
                                <label class="form-label" for="inputNginxConfigPath">Path to NGINX conf.d
                                    directory</label>
                                <input type="text" class="form-control" id="inputNginxConfigPath" name="nginx_conf_path"
                                    value="{{ settings.NginxConfPath }}" placeholder="/etc/nginx/conf.d" required>
                            </div>
                            <!-- UnboundConfPath -->
                            <div class="mb-3">
                                <label class="form-label" for="inputUnboundConfigPath">Path to Unbound conf.d
                                    directory</label>
                                <input type="text" class="form-control" id="inputUnboundConfigPath"
                                    name="unbound_conf_path" value="{{ settings.UnboundConfPath }}"
                                    placeholder="/etc/unbound/conf.d" required>
                            </div>
                            <!-- UnboundRemote -->
                            <div class="mb-3">
                                <div class="checkbox checkbox-circle checkbox-info peers ai-c">
                                    <input type="checkbox" class="form-check-input" id="inputUnboundRemote"
                                        name="unbound_remote" value="{{ settings.UnboundRemote }}">
                                    <label class="form-label" for="inputUnboundRemote">Unbound Remote Server</label>
                                </div>
                            </div>
                            <!-- UnboundRemoteHost -->
                            <div class="mb-3">
                                <label class=" form-label" for="inputUnboundRemoteHost">Remote Unbound server
                                    address</label>
                                <input type="text" class="form-control" id="inputUnboundRemoteHost"
                                    name="unbound_remote_host" value="{{ settings.UnboundRemoteHost }}"
                                    placeholder="127.0.0.1">
                            </div>

                            <button type="submit" class="btn btn-primary btn-color">Save</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Credentials -->
            <div class="masonry-item col-md-6">
                <div class="bgc-white p-20 bd">
                    <h6 class="c-grey-900">Credentials</h6>
                    <div class="mT-30">
                        <form id="appCredentialsForm" method="POST" action="/settings/save_credentials" novalidate>
                            <input type="hidden" name="request_type" value="appCredentialsForm">
                            <!-- Username -->
                            <div class="mb-3">
                                <label class="form-label" for="inputUsername">Username</label>
                                <input type="text" class="form-control" id="inputUsername" name="username"
                                    value="{{ settings.Username }}" required>
                            </div>
                            <!-- Password -->
                            <div class="mb-3">
                                <label class="form-label" for="inputPassword">Password</label>
                                <input type="text" class="form-control" id="inputPassword" name="password"
                                    value="{{ settings.Password }}" required>
                            </div>
                            <button type="submit" class="btn btn-primary btn-color">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        $('#inputUnboundRemote').prop('checked', $('#inputUnboundRemote').val() === 'True');
        $('#inputUnboundRemote').change(function () {
            var value = $('#inputUnboundRemote').prop('checked');
            $('#inputUnboundRemote').val(value.toString());
        });
    });
</script>
{% endblock javascripts %}